@import "/styles/globals.scss";

.sidebar {
  padding: 10px 5px;
  position: fixed;
  width: 14%;
  height: calc(100vh - 10px);
  padding-top: 15px;
  // z-index: 2;
  background-color: #171717;

  &__bars {
    font-size: 20px;
  }

  &__top {
    display: flex;
    align-items: center;
    display: flex;
    gap: 20px;
    padding-left: 10px;

    svg {
      cursor: pointer;
    }

    a{
      width: 45%;
    }
  }

  &__body{
    margin-top: 30px;
    height: 91%;
    
    &:hover{
      overflow: auto;
    }

    ul{
      list-style: none;
      padding: 0;
      box-sizing: content-box;
      border-bottom: 1px solid rgb(61, 60, 60);
      padding-bottom: 15px;
      margin: 0;
      li{
        margin: 0;
        border-radius: 10px;
        transition: .3s all ease;
        
        &.active{
          background-color: rgba(255, 255, 255, 0.17);
        }
        &:hover{
          background-color: rgba(61, 60, 60);
        }
        a{
          padding: 7px;
          display: flex;
          align-items: center;
          gap: 20px;
          text-decoration: none;
          font-weight: 500;
          font-size: 14px;
          display: flex;
          height: 100%;

          svg{
            width: 25px;
          }
        }
      }
    }
  }
}
